:root {
    --main-bg-color: #F6F5F4;
    --main-container-color: #EDEDED;
    --main-accent-color: #C25100;
    --main-text-color: #000000;
    --accent-text-color: #FFFFFF;
    --faded-text-color: #828282;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #353535;
        --main-container-color: #3C3C3C;
        --main-text-color: #FFFFFF;
        --faded-text-color: #C9C9C9;
    }
}

* {
    color: var(--main-text-color);
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

.page-header {
    background-color: var(--main-accent-color);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

a, a:hover {
  color: var(--main-accent-color);
}

.page-header * {
    color: var(--accent-text-color);
}

.page-header h1 {
    color: var(--accent-text-color);
    font-size: 36pt;
}

.page-header a:hover {
    color: var(--accent-text-color);
}

.content {
    margin: auto;
    width: 100%;
    max-width: 700px;
}

.date {
    color: var(--faded-text-color);
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    background-color: var(--main-container-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 10px
}

input[type=text], input[type=password] {
    background-color: var(--main-container-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 10px
}

input[type=submit] {
    color: #000000;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: var(--accent-text-color);
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.post {
    background-color: var(--main-container-color);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.col-md-8 {
    width: 100%;
}

.glyphicon {
    color: #000000;
}

.page-header .glyphicon {
    color: var(--accent-text-color);
}
